:root {
    --white: #fff;
    --gray-text: #44474a;
    --dark-blue: rgb(43, 61, 125);
    --light-blue: rgb(45, 179, 244);
}

.card {
    position: relative;
    margin: 0 auto;
    /* height: 52rem; */
}
.card_side {
    margin: 0 auto;
    /* height: 52rem; */
    /* transition: all .8s ease; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* backface-visibility: hidden; */
    /* border-radius: 3px; */
    /* overflow: hidden; */
    /* box-shadow: 0 1.5rem 4rem rgba($color-black, .15); */
}

.card_side-front {
    /* background-color: white;
    border: solid 5px var(-gray-text);
    margin: 10px 30px; */
    text-align: center;
    max-width: 900px;
	margin: 0 auto;
	padding: 1rem;
    height: 100vh;
    border-bottom: solid .5px var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_picture-alt {
    display: block;
    width: 50%;
    margin: 20px auto 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card_picture-1 {
    background-image: url(../images/parkSharkBanner.png);
}
.card_picture-2 {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
}
.card_picture-3 {
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
}

.card_heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    padding-top: 10px;
}

.card_details {
    padding: 3rem;
}

.card_details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card_details li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card_details li:not(:last-child) {
    border-bottom: 1px solid grey;
}