:root {
    --white: #fff;
    --header-primary: #26292b;
    --header-secondary: rgb(82, 195, 199);
    --gray-text: #44474a;
    --dark-blue: rgb(43, 61, 125);
    --light-blue: rgb(45, 179, 244);
}

* {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 16px; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
} 

nav a, #contact-me a {
    color: var(--light-blue);
    font-size: 1.5em;
    font-weight: 400;
}

a:visited {
    color: var(--light-blue);
}

p {
    color: var(--gray-text);
}

/*--------------------------------------*/
/*---------------Header-----------------*/

header {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background: linear-gradient(var(--header-primary), var(--main-bg));
} 

h1 {
    display: block;
    font-size: 4em;
    font-weight: 200;
    color: var(--light-blue);
    opacity: 0.66;
    margin: 0;
    text-align: center;
}

header span {
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 3%;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 3%
}

nav {
    font-size: 1em;
    color: var(--light-blue);
    opacity: 0.66;
    text-decoration: underline;
    margin-top: 2%;
    position: relative;
}

.burger {
    display: block;
    height: 40px;
    width: 100%;
    background: url(../images/burger.png) no-repeat 98% center;
    cursor: pointer;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu.open {
    height: auto;
}

/*--------------------------------------*/
/*----------------Side------------------*/

.side {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    border-bottom: solid 5px var(--light-blue);
    border-top: solid 5px var(--light-blue);
    margin: 3% 5%;
}

.side-text {
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.side span {
color: var(--gray-text);
}

/*--------------------------------------*/
/*----------------About-----------------*/

#about-me {
    display: flex;
    flex-direction: column;
}

.about-body {
    flex: 5;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
}

.about-body img {
    max-height: 250px;
    display: inline;
    margin-right: 2%;
    align-self: center;
    margin-bottom: 3%;
    border: solid 3px var(--light-blue);
    border-radius: 50%;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10% 0 10%;
}

.about-text p {
    margin: 2%;
    text-align: center;
}

/*--------------------------------------*/
/*----------------Contact---------------*/

#contact-me {
    display: flex;
    flex-direction: column;
}

.bottom-nav {

}

.social {
    display: flex;
    justify-content: center;
}

.social i {
    margin: 0 50px;
}

footer {
    margin: 8% 0 3% 0;
}

@media screen and (min-width: 880px) {


/*--------------------------------------*/
/*----------------About-----------------*/

    .about-body {
        margin: 4% 0;
        padding: 0 10%;
        flex-direction: row;
        justify-content: space-around;
    }

    .about-body img {
        align-self: center;
        margin-bottom: 3%;
    }

    .about-text {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .about-text p {
        text-align: left;
    }

}

/* Desktop */
@media screen and (min-width: 1200px) {

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        margin: 0 10%;
        width: 100%;
    }

    #about-me {
        flex-direction: row;
    }

    .side {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        text-align: right;
        padding-right: 1%;
        border-right: solid 5px var(--light-blue);
        border-bottom: 0;
        border-top: 0;
        box-sizing: border-box;
        margin: 1% 0;
    }

    .side-text {
        flex-direction: column;
    }

    .about-body {
        padding: 25px 15px;
        flex-direction: row;
        border: 0;
    }

    .about-body img {
        align-self: center;
        margin-bottom: 3%;
    }

    .about-text {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0 5%;
    }

    .about-text p {
        margin: 1%;
    }

/*--------------------------------------*/
/*----------------Work-----------------*/

/*--------------------------------------*/
/*---------------Contact----------------*/

    #contact-me {
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }

    .bottom-nav {
        flex: 5;
        text-decoration: underline;
        padding: 25px 15px;
    }

    .social i {
        margin: 0 75px;
    }

}
