:root {
    --main-bg: #fff;
    --header-primary: #26292b;
    --header-secondary: rgb(82, 195, 199);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--header-secondary);
    font-size: 1.5em;
    font-weight: 400;
}

a:visited {
    color: var(--header-secondary);
}

header {
    padding: 20px 20px 20px 0;
    background-color: var(--header-primary);
}

h1 {
    display: inline-block;
    font-size: 2.5em;
    color: #26292b;
    background: linear-gradient(to right,rgba(82, 195, 199, 1), rgba(104, 176, 179, .5));
    opacity: 0.66;
    margin: 0;
    padding: 10px 10px 10px 50px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 1em;
    color: var(--header-secondary);
    opacity: 0.66;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-left: 25px;
}

.subtitle {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: #26292b;
    background: linear-gradient(to bottom, rgba(82, 195, 199, .6), rgba(104, 176, 179, .3));
    opacity: 0.66;
    text-align: center;
    position: relative;
    top: 125px;
    left: 60%;
    z-index: 1;
}

.banner {
    height: 150px;
    background: linear-gradient(var(--header-primary), var(--main-bg));
}

#about-me {
    display: flex;
}

.side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    text-align: right;
    background-color: var(--main-bg);
    padding-right: 1%;
    font-size: 2em;
    font-weight: 600;
    border-right: solid 5px var(--header-secondary);
    box-sizing: border-box;
    margin: 1% 0;
}

.side-text {
    display: flex;
    flex-direction: column;
}

.about-body {
    background-color: var(--main-bg);
    flex: 5;
    padding: 25px 15px;
    display: flex;
}

.about-body img {
    max-height: 250px;
    display: inline-block;
    margin-right: 2%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work {
    display: flex;
}

.work-body {
    background-color: var(--main-bg);
    flex: 5;
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-body img {
    max-width: 100%;
    border: solid 5px var(--header-secondary);
}

.work-body img:hover {
    opacity: .75;
    transition-duration: .5s;
    cursor: pointer;
}

.top-project-text {
    color: #26292b;
    background: var(--header-secondary);
    position: relative;
    bottom: 30%;
    padding: 1% 5% 1% 1.5%;
    text-align: left;
    display: inline-block;
}

.project-text {
    color: #26292b;
    background: var(--header-secondary);
    position: relative;
    bottom: 35%;
    padding: 1% 5% 1% 1.5%;
    text-align: left;
    display: inline-block;
}

.project-title{
    font-size: 1.5em;
}

.project-desc{
    font-size: .8em;
    padding: 10% 0 0 0;
    font-weight: 200;
}

.project-box {
    width: 46%;
    box-sizing: border-box;
    margin: .5%;
    /* flex: 1 0 auto; */
}

#contact-me {
    display: flex;
}

.contact-body {
    background-color: var(--main-bg);
    flex: 5;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
}


@media screen and (max-width: 991px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        padding: 3% 0 0 0;
    }

    .subtitle {
        left: 80px;
    }
}

@media screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0 0 0;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        width: 100%;
        text-align: center;
        padding 0;
    }

    .subtitle {
        display: flex;
        justify-content: center;
    }

    .about-body {
        flex-direction: column;
    }

    .work-body {
        flex-direction: column;
        padding: 25px 0 0 0;
    }

    .project-box {
        width: 100%;
        /* box-sizing: border-box; */
        /* margin: .5%; */
        /* flex: 1 0 auto; */
    }

    .about-body img {
        align-self: center;
        padding: 0 0 4% 0;
    }

    #about-me {
        flex-direction: column;
    }

    #work {
        flex-direction: column;
    }

    #contact-me {
        flex-direction: column;
    }
    
    .side {
        flex-direction: row;
        border-bottom: solid 5px var(--header-secondary);
        border-right: 0;
        margin: 0 5%;
    }

    .side-text {
        flex-direction: row;
    }


}