/*--------------------------------------*/
/*---------------General-----------------*/

:root {
    --white: #fff;
    --gray-text: #44474a;
    --dark-blue: rgb(43, 61, 125);
    --light-blue: rgb(45, 179, 244);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 24px;
}

body {
    margin: 0 auto;
} 

nav a, #contact-me a {
    color: var(--light-blue);
    font-size: 1.5em;
    font-weight: 400;
}

a:visited {
    color: var(--light-blue);
}

p {
    color: var(--gray-text);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    padding: .2em;
    /* border-bottom: solid 1px var(--light-blue); */
    /* border-top: solid 1px var(--light-blue); */
    color: var(--gray-text);
    text-align: center;
}

h3 {
    color: var(--light-blue);
}

/*--------------------------------------*/
/*---------------Header-----------------*/

header {
    /* padding: 25px 0 0 0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* position: relative;     */
} 

#header-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
}

h1 {
    display: block;
    float: left;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--light-blue);
    opacity: 0.66;
    /* text-align: center; */
    /* margin-top: .7em; */
    border: solid .5px var(--light-blue);
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;

}

h1:hover {
    animation: h1Change 4s;
}

/* #subtitle {
    margin-top: .9em;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
} */

nav {
    color: var(--light-blue);
    opacity: 0.66;
}

/* #menu {
    cursor: pointer;
    margin-top: 20px;
    margin-right: 40px;
} */

#menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 0; */
    overflow: hidden;
    transition: all .2s;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* #menu-item.open {
    height: auto;
} */

#menu-item li {
    padding: 5px 0; 
    font-size: .65rem;
    transition: all .4s;
}

#myWork {
    display: none;
}

#menu-item li:hover {
    transform: scale(1.01) translateY(-3px);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.29);
}

/*--------------------------------------*/
/*----------------About-----------------*/

#about-me {
    margin-top: .5em;
    height: 100vh;
    border-bottom: solid .5px var(--light-blue);
}

#about-body {
    display: flex;
    flex-direction: column;
}

#profile {
    max-width: 50%;
    height: auto;
    align-self: center;
    border: solid 2px var(--light-blue);
    border-radius: 50%;
    margin: 30vh auto 0;
    transition: all .2s ease-in;
}

.img-animated {
    animation: imgFade 10s;
}

@keyframes imgFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

#hi {
    animation: hiSlide 3s;
}

#intro {
    animation: moveInBottom 5s;
}

@keyframes hiSlide {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* #profile:hover {
    text-align: center;
    animation: borderChange 4s;
} */

@keyframes h1Change {
    from {
        color: var(--light-blue);
        border: solid .5px var(--light-blue);
    }

    30% {
        border: solid 2px;
    }

    50% {
        color: rgb(177, 85, 174);
        border: solid .8px rgba(21, 249, 0, 0.276);
    }

    60% {
        border: solid .5px;
    }

    100% {
        color: var(--light-blue);
        border: solid .5px var(--light-blue);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    80% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#about-text {
    margin-top: 5vh
}

#about-text p {
    margin: .7em;
    text-align: center;
    /* animation: aboutSlide 1s; */
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    border-radius: 10rem;
    border: solid .5px var(--gray-text);
    transition: all .4s;
    position: relative;
    margin: 10vh auto;
    font-size: .7rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 .3rem .2rem rgba(0, 0, 0, 0.256);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .2rem .1rem rgba(0, 0, 0, 0.256);
    /* transition: .4s */
}

.btn-white {
    background-color: var(--dark-blue: rgb(43, 61, 125));
}

.btn-animated {
    animation: moveInBottom 8s;
}

/*--------------------------------------*/
/*----------------Work-----------------*/

/* #work {
    margin-top: 1.2em;
} */

.work-body {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    /* width: 90%; */
    /* margin: 0 6%;  */
}

/* #projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 1rem;
} */

/* this is a weird way to make the last line align to the left when using flex-wrap */
/* #projects::after {
	content: "";
	flex: 1 0 300px;
	max-width: 300px;
	height: 0px;
	margin: 1rem;
} */

/* .project {
	flex: 1 0 100%;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	box-sizing: border-box;
	margin: 1rem;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	transition: 0.3s;
	cursor: pointer;
} */

/* .project:hover {
	transform: scale(1.02);
} */

/* .project h2 {
	margin: 1rem;
	font-weight: 400;
} */

/* .thumbnail {
	padding-bottom: 100%;
    width: 100%;
} */

/* .tags {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
} */

/* .tag {
	padding: 0.5rem;
	background-color: #207DE9;
	border-radius: 4px;
	color: #fff;
	font-size: 0.8rem;
	line-height: 1;
} */

/* add a margin left to any .tag that immediately follows anither .tag */
/* .tag ~ .tag {
	margin-left: 0.5rem;
} */

#about-me-new {
    border-bottom: solid 2px var(--light-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 2% 20px;
    height: 100vh;
}

#about-me-new h2 {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

#about-me-new p {
    margin: 0 5% 10px;
    font-size: .7rem;
}

/*--------------------------------------*/
/*----------------Contact---------------*/

#contact-me {
    display: flex;
    flex-direction: column;
}

 .bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social i {
    font-size: 2rem;
    margin: 0 .4rem;
    transition: all .4s;
    /* Why can't I use percentages to space these out? */
}

.social i:hover {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}

footer {
    margin-top: 1rem;
    text-align: center;
} 

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5rem;
}

#copyright span {
    margin-top: .2rem;
    font-size: .8rem;
}

@media screen and (min-width: 400px) {

    #profile {
        height: 40%;
    }
}

@media screen and (min-width: 550px) {

    #profile{
        max-height: 280px;
    }

    #menu-item {
        flex-direction: row;
        align-items: flex-end;
    }

    #menu-item li {
        padding-left: 10px;
    }
    
    #about-me-new h2 {
        margin-bottom: 6vh;
        font-size: 1.3rem;
    }
    
    #about-me-new p {
        margin: 0 5% 3vh;
        font-size: .9rem;
    }
}

@media screen and (min-width: 880px) {

    body {
        width: 95%;
        margin: 0 auto;
    } 

    .burger {
        display: none;
    }

    #myWork {
        display: block;
    }

    /* #header-nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        text-align: center;
        margin-top: 10px;
    } */

    /* #menu-item {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        text-align: center;
        height: 100%;
        margin: 15px 0 10px 0;
    } */

    #menu-item li {
        font-size: .6em;
        margin-left:15px;
    }

}

@media screen and (min-width: 1000px) {
    
    #about-me-new h2 {
        margin-bottom: 8vh;
        font-size: 1.7rem;
    }
    
    #about-me-new p {
        margin: 0 15% 5vh;
        font-size: 1.1rem;
    }

}