:root {
    --white: #fff;
    --header-primary: #26292b;
    --header-secondary: rgb(82, 195, 199);
    --gray-text: #44474a;
    --dark-blue: rgb(43, 61, 125);
    --light-blue: rgb(45, 179, 244);
}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    /* font-size: 16px; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
} 

main {
    display: flex;
    flex-direction: column;
}

nav a, #contact-me a {
    color: var(--light-blue);
    font-size: 1.5em;
    font-weight: 400;
}

a:visited {
    color: var(--light-blue);
}

p {
    color: var(--gray-text);
}

h2 {
    display: block;
    margin: 2% 0;
    font-size: 2em;
    font-weight: 600;
    border-bottom: solid 5px var(--light-blue);
    border-top: solid 5px var(--light-blue);
    color: var(--gray-text);
    padding: 15px;
    margin: 3% 5%;
    text-align: center;
}



.work-body {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 90%;
    margin: 1% 6%;
}

.project-container {
    position: relative;
}

.project-label {
    color: #26292b;
    background: var(--light-blue);
    position: absolute;
    bottom: 15%;
    padding: 1% 5% 1% 1.5%;
    z-index: 1;
}

.project-banner {
    max-width: 100%;
    border: solid 2px var(--light-blue);
    margin: 5px 0;
    position: relative;
}


.project-banner:hover {
    opacity: .75;
    transition-duration: .5s;
    cursor: pointer;
}

.project-title {
    font-size: 1.5em;
}

.project-desc {
    font-size: .8em;
    padding: 10% 0 0 0;
    font-weight: 200;
}

@media screen and (min-width: 880px) {

    .project-banner {
        margin: 0;
        height: 175px;
    }

    #first-project {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: stretch;
    }

    .soon-big {
        position: absolute;
        font-size: 4em;
        top: 50px;
        left: 22%;
    }

    .soon {
        position: absolute;
        top: 75px;
        left: 22%;
    }
}


/* Desktop */
@media screen and (min-width: 1200px) {
/*--------------------------------------*/
/*----------------Work-----------------*/

    .work-body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 4px;
        grid-column-gap: 4px;
    }

    .project-banner {
        margin: 0;
        height: 200px;
    }

    #first-project {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: stretch;
    }

    .soon-big {
        position: absolute;
        font-size: 4em;
        top: 60px;
        left: 30%;
    }

    .soon {
        position: absolute;
        top: 90px;
        left: 33%;
    }

}